# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.json

# Directories
.idea
.pytest_cache
notebooks/.ipynb_checkpoints
notebooks/ml/.ipynb_checkpoints
notebooks/_backup
tests/.pytest_cache
tests/*.json

# Other Files
*.coverage